.top-my-bar {
    width: 100%;
    height: 50px;
    background-color: #512da8;
}

.top-bar-text {
    display: flex;
    justify-content: flex-end;
    padding-top: 23px;
    padding-right: 15px;
    gap: 10px;
}

.top-menu-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}

.top-menu-bar img {
    width: 200px;
    height: 40px;
    padding-top: 10px;
}

.top-menu-bar-text {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    color: #512da8;
}

.top-menu-bar-text i {
    padding-top: 10px;
    color: #512da8;
}

.top-list-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-list-bar span {
    color: black;
    font-weight: bold;
    flex-shrink: 0;
}

/* 메인 */
.main-image-container {
    display: flex;
    margin-top: 20px;
    gap: 0px;
}

.main-image {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    margin-right: -1px;
    color: white;
    position: relative;
    flex: 1;
    height: 450px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.main-image:hover {
    transform: translateY(-5px);
}

.main-image-text {
    position: relative;
    z-index: 2;
}

.main-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* 푸터 */
footer {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

/* 글로벌 태그 */
a {
    text-decoration: none;
    color: #fff;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #512da8;
}